################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeSignal/.vs/CodeSignal/FileContentIndex
/C-sharp-ClassWork/.vs/C-sharp-ClassWork/FileContentIndex
/C-sharp-HomeRead/Class$Struct/bin/Debug/net7.0
/C-sharp-HomeRead/Class$Struct/obj
/C-sharp-HomeWork/.vs/C-sharp-HomeWork/FileContentIndex
/C-sharp-HomeRead/.vs/C-sharp-HomeRead
/C-sharp-HomeRead/C-sharp-HomeRead
/C-sharp-HomeRead/Class$Struct/Class$Struct.csproj
/CodeSignal/.vs
/C-sharp-HomeRead/Dynamic/obj
